doctype html
html
  head
    meta[http-equiv="content-type" content="text/html; charset=UTF-8"]
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Electronic Hurdy Gurdy
    link rel="stylesheet" href="hurdygurdy.css"
  body
    h1 Hurdy Gurdy Crank
    #plot
    #status Connecting...
    script type="text/javascript" src="/js/libs/jquery.min.js"
    script type="text/javascript" src="/js/erpc.js"
    script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"
    script type="text/javascript" src="common.js"
    coffee:
      socket = new WebSocket("ws://" + window.location.hostname + "/websocket")
      plotDiv = $('#plot')[0]
      Plotly.newPlot(plotDiv, [{'y': []}], $.extend(width: $(plotDiv).width(), window.default_plot_layout))
      socket.onopen = ->
        $("#status").text("Connected...")
      socket.onmessage = (msg) ->
        $('#status').text("#{msg.data}")
        plotDiv.data[0].y.push(msg.data)
        plotDiv.data[0].y.shift() if plotDiv.data[0].y.length > 100
        Plotly.redraw(plotDiv)
        
