doctype html
html
  head
    meta[http-equiv="content-type" content="text/html; charset=UTF-8"]
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Electronic Hurdy Gurdy
    link rel="stylesheet" href="hurdygurdy.css"
  body
    h1 Hurdy Gurdy
    .buttonbox
      .label Tuning
      select.flex#tuning[Placeholder="Tuning"]
    #notes
    .vspacer
    .buttonbox
      input#note[Placeholder="Note"]
      a.button#note-on Note On
      a.button#note-off Note Off
    script type="text/javascript" src="/js/libs/jquery.min.js"
    script type="text/javascript" src="/js/erpc.js"
    script type="text/javascript" src="common.js"
    script src="hurdygurdy.js"
