doctype html
html
  head
    meta[http-equiv="content-type" content="text/html; charset=UTF-8"]
    meta charset="utf-8"
    meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title Electronic Hurdy Gurdy
    link rel="stylesheet" href="hurdygurdy.css"
    css:
      span.note {
        margin-left: 0.5em;
        margin-right: 0.5em;
        width: 2em;
      }
      #abc {
        padding: 1em;
        white-space: pre-wrap
      }
  body
    h1 Hurdy Gurdy Recorder
    h2#status Disconnected
    .buttonbox
      a.button#connect Connect
      a.button#clear Clear
      a.button#create-abc Create ABC
      / a.button#dummy Dummy Data
    #plot
    pre#abc.data
    table#data.data
    script type="text/javascript" src="https://code.jquery.com/jquery-3.0.0.min.js"
    script type="text/javascript" src="/js/libs/jquery.min.js"
    script type="text/javascript" src="/js/erpc.js"
    script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"
    script type="text/javascript" src="common.js"
    script type="text/javascript" src="abc.js"
    coffee:
      window.d3 = Plotly.d3
      window.plotDiv = $('#plot')[0]
      window.notes = []      
      window.allNotes = ["B0", "C1", "CS1", "D1", "DS1", "E1", "F1", "FS1", "G1", "GS1", "A1", "AS1", "B1", "C2", "CS2", "D2", "DS2", "E2", "F2", "FS2", "G2", "GS2", "A2", "AS2", "B2", "C3", "CS3", "D3", "DS3", "E3", "F3", "FS3", "G3", "GS3", "A3", "AS3", "B3", "C4", "CS4", "D4", "DS4", "E4", "F4", "FS4", "G4", "GS4", "A4", "AS4", "B4", "C5", "CS5", "D5", "DS5", "E5", "F5", "FS5", "G5", "GS5", "A5", "AS5", "B5", "C6", "CS6", "D6", "DS6", "E6", "F6", "FS6", "G6", "GS6", "A6", "AS6", "B6", "C7", "CS7", "D7", "DS7", "E7", "F7", "FS7", "G7", "GS7", "A7", "AS7", "B7", "C8", "CS8", "D8", "DS8"]
      
      Plotly.newPlot(plotDiv, [{x: [], y: [], mode: 'markers+lines'}], $.extend(window.default_plot_layout, {yaxis: {ticktext: allNotes, tickvals: (i for n, i in allNotes)}}))
      
      addNote = (msg) ->
        unless notes.length == 0
          lastNote = notes[notes.length - 1]
          lastNote.duration = msg.timeStamp - lastNote.timeStamp
          if lastNote.duration < 200
            notes.pop()
            plotDiv.data[0].x.pop()
            plotDiv.data[0].y.pop()
          else
            plotDiv.data[0].x.push msg.timeStamp
            plotDiv.data[0].y.push allNotes.indexOf(lastNote.data)
            plotDiv.data[0].x.push null
            plotDiv.data[0].y.push null
        
        notes.push msg
        plotDiv.data[0].x.push msg.timeStamp
        plotDiv.data[0].y.push allNotes.indexOf(msg.data)
        
        d = d3.select('#data').selectAll('tr').data(notes, (n) -> [n.data, n.timeStamp])
        
        td = d.selectAll('td').data((i) -> [i.data, i.timeStamp, i.duration])
        td.enter().append('td').text((i) -> i)
        td.exit().remove()
        
        tr = d.enter().append('tr')
        tr.append('td').text((i) -> i.data)
        tr.append('td').text((i) -> "#{i.timeStamp}")
        
        d.exit().remove()
        Plotly.redraw(plotDiv)
      
      $('#connect').click ->
        $('#status').text "Connecting..."
        erpc("startRecording")
        socket = new WebSocket("ws://" + window.location.hostname + "/websocket")
        socket.onopen = ->
          $('#status').text "Connected"
        socket.onmessage = (msg) ->
          addNote(msg)
        socket.onerror = (e) ->
          $('#status').text "Error: #{e}"
        socket.onclose = ->
          $('#status').text "Closed"
      
      $('#clear').click ->
        window.notes = []
        plotDiv.data[0].x = []
        plotDiv.data[0].y = []
        Plotly.redraw(plotDiv)
        
        tr = d3.select('#data').selectAll('tr').data(notes).exit().remove()
      $('#create-abc').click ->
        window.abc = generateABC(notes)
        $('#abc').text(abc.text)
        # e = d3.select('#abc').selectAll('span').data(abc.notes).enter()
        # e.append('span').text((n) -> n.rep).attr('class', 'note')
        #  .filter((d, i) -> i % 8 == 3).append('br')
        
      #$('#dummy').click ->
        # addNote n for n in [{"isTrusted":true,"duration":639.3550000000032,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":283.4100000000035,"q":0.5,"letter":"D","sharp":false,"octave":5,"rep":"d/"},{"isTrusted":true,"duration":474.5400000000009,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":968.9799999999959,"q":2,"letter":"D","sharp":false,"octave":5,"rep":"d2"},{"isTrusted":true,"duration":519.9400000000096,"q":1,"letter":"A","sharp":false,"octave":4,"rep":"A"},{"isTrusted":true,"duration":431.24499999999534,"q":1,"letter":"B","sharp":false,"octave":4,"rep":"B"},{"isTrusted":true,"duration":411.8950000000041,"q":1,"letter":"D","sharp":false,"octave":5,"rep":"d"},{"isTrusted":true,"duration":442.67499999999563,"q":1,"letter":"B","sharp":false,"octave":4,"rep":"B"},{"isTrusted":true,"duration":1400.925000000003,"q":3,"letter":"A","sharp":false,"octave":4,"rep":"A3"},{"isTrusted":true,"duration":709.8050000000003,"q":2,"letter":"F","sharp":true,"octave":5,"rep":"^f2"},{"isTrusted":true,"duration":251.01499999999942,"q":0.5,"letter":"D","sharp":false,"octave":5,"rep":"d/"},{"isTrusted":true,"duration":420.0599999999977,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":448.15000000000146,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":419.7849999999962,"q":1,"letter":"D","sharp":false,"octave":5,"rep":"d"},{"isTrusted":true,"duration":464.5650000000023,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":467.45500000000175,"q":1,"letter":"E","sharp":false,"octave":5,"rep":"e"},{"isTrusted":true,"duration":449.52999999999884,"q":1,"letter":"A","sharp":false,"octave":4,"rep":"A"},{"isTrusted":true,"duration":511.1100000000006,"q":1,"letter":"B","sharp":false,"octave":4,"rep":"B"},{"isTrusted":true,"duration":252.11999999999534,"q":0.5,"letter":"C","sharp":true,"octave":5,"rep":"^c/"},{"isTrusted":true,"duration":277.1450000000041,"q":0.5,"letter":"B","sharp":false,"octave":4,"rep":"B/"},{"isTrusted":true,"duration":709.6700000000055,"q":2,"letter":"A","sharp":false,"octave":4,"rep":"A2"},{"isTrusted":true,"duration":762.25,"q":2,"letter":"F","sharp":true,"octave":5,"rep":"^f2"},{"isTrusted":true,"duration":262.6350000000093,"q":0.5,"letter":"D","sharp":false,"octave":5,"rep":"d/"},{"isTrusted":true,"duration":515.054999999993,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":811.6100000000006,"q":2,"letter":"D","sharp":false,"octave":5,"rep":"d2"},{"isTrusted":true,"duration":540.0850000000064,"q":1,"letter":"A","sharp":false,"octave":4,"rep":"A"},{"isTrusted":true,"duration":479.94499999999243,"q":1,"letter":"B","sharp":false,"octave":4,"rep":"B"},{"isTrusted":true,"duration":449.88000000000466,"q":1,"letter":"D","sharp":false,"octave":5,"rep":"d"},{"isTrusted":true,"duration":493.69499999999243,"q":1,"letter":"B","sharp":false,"octave":4,"rep":"B"},{"isTrusted":true,"duration":1106.6399999999994,"q":2,"letter":"A","sharp":false,"octave":4,"rep":"A2"},{"isTrusted":true,"duration":689.1600000000035,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":441.77500000000873,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":466.96500000001106,"q":1,"letter":"E","sharp":false,"octave":5,"rep":"e"},{"isTrusted":true,"duration":441.05499999997846,"q":1,"letter":"A","sharp":false,"octave":4,"rep":"A"},{"isTrusted":true,"duration":238.28500000001804,"q":0.5,"letter":"B","sharp":false,"octave":4,"rep":"B/"},{"isTrusted":true,"duration":260.6649999999936,"q":0.5,"letter":"C","sharp":true,"octave":5,"rep":"^c/"},{"isTrusted":true,"duration":879.7200000000012,"q":2,"letter":"D","sharp":false,"octave":5,"rep":"d2"},{"isTrusted":true,"duration":466.4549999999872,"q":1,"letter":"F","sharp":true,"octave":5,"rep":"^f"},{"isTrusted":true,"duration":953.0600000000122,"q":2,"letter":"D","sharp":false,"octave":5,"rep":"d2"},{"isTrusted":true}]
        
